@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply transition-colors duration-100 cursor-none;
  }
  
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-[#FAFAFA] dark:bg-black text-black dark:text-white;
  }

  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("~/assets/fonts/Lato-400-latin-ext1.woff2") format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
      U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("~/assets/fonts/Lato-400-latin2.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: "GT Haptik";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("~/assets/fonts/GT-Haptik-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("~/assets/fonts/arial.ttf") format("ttf");
  }

  @font-face {
    font-family: "Monglan";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("~/assets/fonts/Moglan Ttf.ttf") format("ttf");
  }

  h1 {
    @apply text-[11vw] md:text-[12vw] uppercase text-center leading-relaxed xl:leading-[18.7vw];
  }

  h3, .h3 {
    @apply text-3xl md:text-[3.17vw] leading-normal md:leading-[4.4vw];
  }
}

@layer utilities {
  .inline-start {
    @apply inline-flex items-center justify-start;
  }

  .inline-center {
    @apply inline-flex items-center justify-center;
  }

  .inline-end {
    @apply inline-flex items-center justify-end;
  }

  .inline-between {
    @apply inline-flex items-center justify-between;
  }

  .inline-evenly {
    @apply inline-flex items-center justify-evenly;
  }

  .start {
    @apply flex items-center justify-start;
  }

  .start-start {
    @apply flex items-start justify-start;
  }

  .center {
    @apply flex items-center justify-center;
  }

  .end {
    @apply flex items-center justify-end;
  }

  .between {
    @apply flex items-center justify-between flex-row;
  }

  .evenly {
    @apply flex items-center justify-evenly;
  }

  /* Cols */
  .col-start {
    @apply flex flex-col items-start justify-center;
  }

  .col-center {
    @apply flex flex-col items-center justify-center;
  }

  .col-end {
    @apply flex flex-col items-end justify-center;
  }

  .col-between {
    @apply flex flex-col items-start justify-between;
  }

  /* Custom border */
  .custom-border {
    @apply border-y-[0.5px] border-black dark:border-white;
  }

  .line {
    @apply h-[0.5px] bg-black dark:bg-white origin-center w-0 place-self-center;
  }

  .section-divider, .recent-divider, .jobs-divider, .footer-divider{
    @apply h-[0.5px] bg-black dark:bg-white origin-right w-0;
  }
}
